{{ define "main" }}
{{ $authorKeys := .Page.Params.authors | default (slice .Site.Params.defaultAuthor) }}

<article class="h-entry">
  <h1 class="p-name">{{ .Title }}</h1>
  <div class="metadata">
    {{ with index $authorKeys 0 | printf "images/%s.png" | resources.Get }}
    <img src="{{ .RelPermalink }}" alt="Author image" class="author-image">
    {{end}}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <p>Published by {{ partial "authors.html" . }} on: <time class="dt-published" datetime="{{ $dateMachine }}">{{
        $dateHuman }}; Reading
        time:
        {{ .ReadingTime }}
        minutes</time></p>
    <div class="e-summary p-summary summary">
      <details>
        <summary>Expand to see summary</summary>
      </details>
    </div>
  </div>

  <div class="e-content">
    {{ .Content }}
  </div>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</article>
<section>
  <h2>Subscribe</h2>
  <p>You can keep up with this blog by subscribing to our newsletter.</p>
  {{ partial "subscribe.html" . }}
</section>
<section>
  {{ range $idx, $page := site.RegularPages.ByDate.Reverse }}
  {{ if ne $page.RelPermalink page.RelPermalink }}
  {{ if eq $idx 0 }}
  <h2>More essays</h2>
  {{ end }}
  <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> - {{ .Date.Format "2006-01-02" }}</h3>
  {{ end }}
  {{ end }}
</section>
{{ end }}