<ul>
  <li><a href="https://github.com/paulkinlan/aifocus" rel="me" title="Paul Kinlan on Github"><i
        class="fa-brands fa-github"></i>
      <span>Github</span></a></li>
  <li><a href="mailto:paul.kinlan@gmail.com" rel="me" title="Email Paul Kinlan"><i class="fa-solid fa-envelope"></i>
      <span>Email me directly</span></a></li>
  {{ with .OutputFormats.Get "RSS" }}<li><a href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml"
      title="RSS Feed"><i class="fa-solid fa-rss"></i><span>RSS</span></a></li>{{ end }}
  <li><a href="{{.Site.Params.discord}}" title="Discord for aifoc.us"><i class="fa-brands fa-discord"></i>
      <span>Discord</span></a></li>
</ul>
<p>Copyright {{ now.Year }}. All rights reserved.</p>