<div class="site-branding-header">
  {{ if and .IsPage (eq .Type "posts") }}
  <div class="site-branding-line">
    <span class="new-post-indicator">{{ .Title }}</span>
    {{/* Logic for automatic post numbering */}}
    {{ $currentPermalink := .Permalink }}
    {{/* .Site.RegularPages.ByDate sorts by date, oldest first by default */}}
    {{ $allPostsSorted := where .Site.RegularPages.ByDate "Type" "posts" }}
    {{ $postNumber := 0 }}
    {{ range $index, $post := $allPostsSorted }}
    {{ if eq $post.Permalink $currentPermalink }}
    {{ $postNumber = add $index 1 }}
    {{ break }}{{/* Exit loop once current post is found */}}
    {{ end }}
    {{ end }}
    {{ if gt $postNumber 0 }}
    <span class="post-number">#{{ $postNumber | printf "%03d" }}</span>
    {{ end }}
  </div>
  {{ end }}
  <h1 class="site-branding-title">
    <a href="/">{{ with .Site.Params.branding_title }}{{ . | safeHTML }}{{ else }}{{ .Site.Title | safeHTML }}{{ end
      }}</a>
  </h1>
</div>